# Autotools cruft
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in*
config.log
config.status
configure
COPYING
depcomp
install-sh
Makefile.in
missing
stamp-h1
ylwrap
**/Makefile
**/Makefile.in
**/.deps

# Build objects
**/*.o
**/*.a
src/sclc


# Vim swap files
*.swp
*.swo
*.swn

# Derived flex / bison artifacts
src/scanner/scl_parser.h
src/scanner/scl_parser.c
src/scanner/scl_scanner.c

